<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://vuejs.org/images/icons/apple-icon-57x57.png" type="image/png">
  <title>Vue Select2 Component</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
  />
  <style>
    .starter-template {
      padding: 3rem 1.5rem;
    }

    select {
      min-width: 300px;
    }

    small {
      font-size: 18px;
      color: #929292;
    }
  </style>
</head>

<body>

  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context.
              Make it a few sentences long so folks can pick up some informative tidbits. Then,
              link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-white">Follow on Twitter</a>
              </li>
              <li>
                <a href="#" class="text-white">Like on Facebook</a>
              </li>
              <li>
                <a href="#" class="text-white">Email me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
          </svg>
          <strong>Vue Select2 Component</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <div class="container" id="app">

    <div class="starter-template">
      <div class="row">
        <div class="col-md-12 mb-4">
          <h1>Select2
            <small>using jQuery</small>
          </h1>
        </div>
        <div class="col-md-12 mb-4">
          <select class="select2-example-1" ref="example1">
            <option v-for="option in options" value="option.id">{{option.text}}</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 mb-4">
          <h1>Select2
            <small>using vue wrapper component</small>
          </h1>
        </div>
        <div class="col-md-4 mb-4">
          <p>Selected: {{ selected }}</p>
          <select2 :options="options" v-model="selected">
            <option disabled value="0">Select one</option>
          </select2>

          <script type="text/x-template" id="select2-template">
              <select>
                <slot></slot>
              </select>
          </script>

        </div>
        <div class="col-md-4">
          <button @click="getValue" class="btn btn-info">
            Get Value
          </button>
          <button @click="setValue" class="btn btn-info">
            Set Value
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">{{message}}</div>
      </div>


    </div>

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>

</html>
